html, body{
    background-color: black;
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
}
.foto{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: transparent url('img/pexels-nao-triponez-129207.jpg');
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    font-size: 30px;
    top: 1px;
    right: 1460px;
}
.j{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    font-size: 30px;
    top: 1px;
    left: 1200px;
    display: flex;
    gap: 20px;
}